.navbar {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid var(--grey-color);
  padding: 10px 20px 10px 20px;
  align-items: center;
  height: fit-content;
}
.nav-account {
  display: flex;
  flex-direction: column;
}

.sign-btn{
  border-radius: 10px;
  background-color:#000000 ;
  color: #fff;
  border: none;
  padding: 10px 15px;
}
.nav-links ul{
  display: flex;
  text-decoration: none;
  gap:10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
li{
  font-weight: 600;
  cursor: pointer;

}
.account-avatar {
  width: 35px;
  height: 35px;
  font-weight: 600;
}
