.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: var(--background);
  border-bottom: 1px solid var(--gray-400);
  padding: 10px;
}
.nav-account {
  display: flex;
  flex-direction: column;
}
