<mat-toolbar color="primary">
  🚙 List Your Car
</mat-toolbar>
<form [formGroup]="form" class="form-container">
  <mat-form-field appearance="outline">
    <mat-label>Make</mat-label>
    <input matInput formControlName="make">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Model</mat-label>
    <input matInput formControlName="model">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="submit()">Submit</button>
</form>